.mantine-Modal-body {
  button {
    margin-top: 1rem;
  }
}

.pathSelector {
  display: flex;

  .mantine-InputWrapper-root {
    margin-top: 0.3rem;
    width: 17.5rem;
  }

  button {
    margin-left: 0.5rem;
    margin-top: 1.85rem;
  }
}
