.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid #2e2e2e;

  button {
    gap: 5px;
  }

}

.backupServiceName {
  display: flex;
  gap: 3px;

  h5 {
    padding: 0;
    margin: 0;
    font-size: var(--mantine-font-size-sm);
  }

  div {
    color: red;
  }

}
