.mainbar {
  display: flex;
  background-color: #242424;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 0;
  border-bottom: 1px solid #2e2e2e;
  position: sticky;
  top: 0;
  gap: 0.2rem;

  button:nth-last-child(1) {
    margin-right: 0.3rem;
  }



}
